


<!-------------------beginning of footer--------------------------->

<div class="footer-main">  
  <footer>
  
    <!-- Footer main -->
  
    <section class="ft-main">
  
      <div class="ft-main-item">
  
        <h2 class="ft-title">Services</h2>
  
        <ul>
          <li><a href="#">General</a></li>
          <li><a href="#">Cosmetic</a></li>
          <li><a href="#">Restorative</a></li>
          <li><a href="#">Emergency</a></li>
          <li><a href="#">Implants</a></li>
           
        </ul>
  
      </div>
  
      <div class="ft-main-item">
  
        <h2 class="ft-title">Practice</h2>
  
        <ul>
         <li><a href="#home">Home</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#appointments">New Patients</a></li>
         <li><a href="#contact">Contact Us</a></li>
        </ul>
  
      </div>
  
      <div class="ft-main-item">
        <h2 class="ft-title">Office</h2>
         <ul>
          <li><a href="#">Email: info@omnisdental.com</a></li>
           <li><a href="#">Phone: 1-800-555-4545</a></li>
           <li><a href="#">Address: 8900 Jefferson Street, <br> Louisville, Kentucky 40202</a></li>
        </ul>
        </div>
  
      <div class="ft-main-item">
        <h2 class="ft-title">Stay Updated</h2>
        <p>Subscribe to our newsletter to get our latest news.</p>
       <form>
         <input type="email" name="email" placeholder="Enter email address">
         <input type="submit" value="Subscribe">
       </form>
      </div>
  
    </section>
  
  
  
    <!-- Footer social -->
  
    <section class="ft-social">
  
     
    </section>
  
  
  
    <!-- Footer legal -->
  
    <section class="ft-legal">
      <p class="ft-legal-list">
       2023 Copyright OmnisDental. All rights reserved.
      </p>
    </section>
  
  </footer>
  

<!--------------------End of footer------------------>






</body>
</html>