<!---------------beginning of Contact section--------------------------------->

<section class="contact" id="contact">
  <div><h1>Request Appointment</h1></div>
<div class="contact-2">
  <div class="small-container">
    <div class="row">
      <div class="col-1">
        
        

        <section class="contact">
          <div class="contact-container">
          
            <form class="contact-form" id="contact2" method="post" action="/patients.js">
              <div class="form-Intro">
                          
             
              <fieldset class="contact-form-Wrapper">
                <legend>Please enter your information below:
                  
                </span></legend>
          
                <div class="form-input-wrapper">
                  <input id="name" name="name" pattern="^([\D]{2,30}\s+)+([a-zA-Z]{2,30})$" placeholder="Name" required />
                  
                </div>
                <div class="form-input-wrapper">
                  <input id="tel" name="tel" type="tel" placeholder="Phone" autocomplete="off" required />
                
                </div>
                <div class="form-input-wrapper">
                  <input id="email" name="email" type="email" placeholder="Email" required />
                  
                </div>
                <div class="form-input-wrapper">
                  <input id="date" class="pickDate" type="date" placeholder="Date" name="date" required />
                  
                </div>
                <div class="form-input-wrapper"">
                  <input id="date" class="pickTime" type="time" name="time" required/>
                 
                </div>
                <div class="contact-message">
                <textarea name="message" cols="10" rows="4" placeholder="How can we help you?" required>
                  How can we help you?
                </textarea>
                
                </div>
                <div class="submit-btn">
                  <button class="form-submit-btn" type="submit" value="Submit Redemption">
                    <span class="flipper">
                      <span class="flipper-object flipper-vertical">
                        <span class="panel front">Request Appointment</span>
                        <span class="panel back">Submit</span>
                      </span>
                    </span>
                  </button>
        
                </div>
                </fieldset>
                 </form>
          
          </div>
      
        </section>
          
      </div>

    

     
  
  
  

      
     


  </div>
</div>
</section>
<!-------------------------------End ofContact section--------------->
